/* --------- reset ---------- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  
  body, p, ul, li {
      margin: 0;
      padding: 0;
  }

  /* --------- layout ---------- */
#main-main-container {
    background-image: url(./img/back-ground.gif);
    background-size: cover;
    width: 80%;
    margin: 0 auto;
}

#main-container {
    width: 100%;
    margin-top: 30px;
    background-image: url(./img/fondo-peces.png);
    background-size: cover;
    /* background-repeat-x: no-repeat; */
    padding: 100px 50px 70px 50px;
    display: flex;
    justify-content: center;
}

  /* --------- typography ---------- */


  /* --------- components ---------- */

      /* -- main site -- */
.footer-p {
    text-align: center;
    font-weight: bold;
    color: white;
}  
      
footer {
    background-color: black;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
}    

      /*  -- splash -- */
      
#splash-container {
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-splash {
    width: 380px;
}

.splash-title {
    margin-bottom: 0px;
}

.start-button {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 15px;
    color: white;
    background-color: red;
    margin-bottom: 30px;
}    

/*  -- game -- */

.obstacles-level1 {
    background-image: url(./img/plastic-can.png);
    background-size: contain;
    background-repeat-y: no-repeat;
}

.player-photo {
    background-image: url(./img/tortoise.png);
    background-size: cover;
}

.game-surface {
    display: flex;
}

.game-info {
    height: 500px;
    text-align: center;
    flex: 1 0 20%;
    margin-left: 30px;
}

.tittle-info{
    text-decoration: underline;
    margin-top: 80px;
}

.score-info {
    margin-bottom: 40px;
    font-size: 30px;
    color: white;
}

.life-info {
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}

.damage-info {
    font-size: 25px;
    margin-bottom: 40px;
    color: white;
}

.enemies-hit-power-info{
    font-size: 25px;
    color: white;
}

#game-container {
    width: 850px;
    padding: 10px 30px;
    display: flex;
}

/*  -- game over -- */

.game-over-tittle {
    color: white;
    text-align: center;
    justify-content: space-between;
    margin: 20px 0px 10px 0px;
}

.game-over-info {
    font-size: 30px;
    color:  black; 
}

.happy-img-gameover {
    margin-top: 20px;
}

.sad-img-gameover {
    width: 400px;
}

.play-again-button {
    color: white;
    background-color: blue;
    justify-content: space-between;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 20px;
}

#game-over-container {
    width: 850px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

 /* --------- pages ---------- */
  
  
  
  /* --------- TEMP ----------
  div, header, footer, nav, article {
      border: 1px solid black;
  } */
